* {
  box-sizing: border-box;
}

body {
  background-color: #edf3f8;
  margin: 0;
}

.start-voyage-form {
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
}

.start-voyage-form > * {
  margin: 2rem;
}
